<div id="contact" class="section">
  <h1 class="section-title">Contact Me</h1>
  <p>
    <a
      href="https://github.com/seetohjinwei/portfolio/raw/main/resume.pdf"
      target="_blank"
      download
      >Resume Download</a
    >
  </p>
  <p>
    Email me at
    <a href="mailto:seetohjinwei@gmail.com">seetohjinwei@gmail.com</a>!
  </p>
  <footer>
    <p>Built by Jin Wei, with Angular.</p>
    <p>
      <a href="https://github.com/seetohjinwei/portfolio" target="_blank"
        >Source Code</a
      >
    </p>
  </footer>
</div>
