#contact {
  background-color: #505050;
  color: white;
  padding-bottom: 1em;
  padding-top: 3em;
  text-align: center;
}

p {
  font-size: larger;
}

a {
  color: whitesmoke;
}

a:hover {
  color: white;
  opacity: 1;
}

footer {
  padding-bottom: 1em;
  padding-top: 3em;
}

footer p {
  font-size: medium;
  opacity: 0.8;
}
