<div id="about" class="section">
  <div class="content">
    <div class="name-box">
      <div id="name">
        <span><b>See Toh</b> Jin Wei</span>
      </div>
      <div class="vl"></div>
    </div>
    <p>
      Year 2 Computer Science undergraduate at National University of Singapore.
    </p>
    <p>Passionate in computer science and problem solving.</p>
    <p>
      Always seeking out new challenges and looking to learn new skills and
      technologies.
    </p>
  </div>
  <app-navbar></app-navbar>
  <app-social></app-social>
</div>
