#about {
  padding-top: 10%;
}

div.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

div.name-box {
  align-items: center;
  display: flex;
  flex-direction: row;
}

div#name {
  display: flex;
  font-size: 5vmax;
}

div.vl {
  border-left: 0.3em solid black;
  height: 15vh;
  margin-bottom: 1vh;
  margin-left: 3vw;
}

p {
  text-align: justify;
  font-size: larger;
}
