div.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1em;
  max-width: 60%;
}

div.name-box {
  align-items: center;
  display: flex;
  flex-direction: row;
}

div#name {
  display: flex;
  font-size: 5vw;
}

span.surname {
  font-weight: bold;
}

div.vl {
  border-left: 0.3em solid black;
  height: 6vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
}

p {
  text-align: justify;
}
