<div id="social">
  <div>
    <a href="https://github.com/seetohjinwei" target="_blank">
      <img
        alt="Github Link"
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
      />
    </a>
    <a href="https://www.linkedin.com/in/seetohjinwei/" target="_blank">
      <img
        alt="Linkedin Link"
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/7/76/Font_Awesome_5_brands_linkedin.svg"
      />
    </a>
    <a href="mailto:seetohjinwei@gmail.com" target="_blank">
      <img
        alt="Email"
        class="logo"
        src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Email_%2889509%29_-_The_Noun_Project.svg"
      />
    </a>
  </div>
  <p>See Toh Jin Wei (seetohjinwei)</p>
</div>
