div.content {
  margin: 1em;
  text-align: left;
  width: 60%;
}

div.item {
  margin-bottom: 1em;
}

div.item * {
  margin-bottom: 0.4vw;
}

div.item h1 {
  font-weight: bold;
}

div.item p.tech {
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 2em;
}

div.item p {
  text-align: justify;
  font-size: 1.2em;
}

.logo {
  margin-right: 0.5em;
  height: 2em;
  width: 2em;
}
