<div id="edu" class="section">
  <div class="content">
    <h1 class="section-title">Education</h1>
    <div class="item">
      <h1>Bachelor of Computing (Computer Science)</h1>
      <h2>at National University of Singapore (NUS)</h2>
      <h3>August 2021 - Present</h3>
    </div>
    <div class="item">
      <h1>Singapore-Cambridge GCE Advanced Level</h1>
      <h2>at Eunoia Junior College (EJC)</h2>
      <h3>January 2017 - November 2018</h3>
      <p>Rank Points: 85</p>
    </div>
  </div>
</div>
