<!-- logo SVGs sourced from Wikimedia Commons -->
<div id="skills" class="section">
  <div class="content">
    <h1 class="section-title">Skills and Technologies</h1>
    <div class="grid">
      <div class="item">
        <img
          alt="React"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
        />
        <p>React</p>
      </div>
      <div class="item">
        <img
          alt="Ruby on Rails"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/6/62/Ruby_On_Rails_Logo.svg"
        />
        <p>Ruby on Rails</p>
      </div>
      <div class="item">
        <img
          alt="Go Language"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/0/05/Go_Logo_Blue.svg"
        />
        <p>Go</p>
      </div>
      <div class="item">
        <img
          alt="Angular"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/c/ca/AngularJS_logo.svg"
        />
        <p>Angular</p>
      </div>
      <div class="item">
        <img
          alt="MongoDB"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/9/93/MongoDB_Logo.svg"
        />
        <p>MongoDB</p>
      </div>
      <div class="item">
        <img
          alt="Typescript"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg"
        />
        <p>Typescript/Javascript</p>
      </div>
      <div class="item">
        <img
          alt="HTML"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/8/82/Devicon-html5-plain.svg"
        />
        <p>HTML</p>
      </div>
      <div class="item">
        <img
          alt="CSS"
          class="logo"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg"
        />
        <p>CSS</p>
      </div>
    </div>
  </div>
</div>
