div.content {
  margin: 1em;
  text-align: right;
  width: 60%;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(3, 20vw);
  row-gap: 1em;
}

div.center {
  display: flex;
  justify-content: center;
}
