html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

div.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;
  width: 100%;
}

h1.section-title {
  font-size: 4em;
  font-style: bold;
  margin-bottom: 0.5em;
}
