html,
body {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

div.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 3em;
  width: 100%;
}

h1.section-title {
  font-size: 4em;
  font-style: bold;
  margin-bottom: 0.5em;
}
