div#scroller {
  bottom: 3em;
  cursor: pointer;
  /* use px to be able to detect change */
  /* must change in scroll-to-top.component.ts as well! */
  height: 50px;
  position: fixed;
  right: 4em;
  width: 3em;
  /* z-index forces this element to render on top of other elements */
  /* 1000 is just an arbitrarily large element */
  /* mainly done to render on top of the footer */
  z-index: 1000;
}

img.up-arrow {
  filter: drop-shadow(2px 4px 8px grey);
  height: 3em;
  opacity: 0.7;
  transition: filter 0.4s linear;
  width: 3em;
}

img.up-arrow:hover {
  opacity: 1;
}

img.up-arrow-inverted {
  filter: invert(100%) drop-shadow(2px 4px 8px white);
  transition: filter 0.4s linear;
}
