div#scroller {
  bottom: 3em;
  cursor: pointer;
  height: 3em;
  position: fixed;
  right: 4em;
  width: 3em;
  /* z-index forces this element to render on top of other elements */
  /* 1000 is just an arbitrarily large element */
  /* mainly done to render on top of the footer */
  z-index: 1000;
}

img.up-arrow {
  height: 3em;
  width: 3em;
  opacity: 0.7;
}

img.up-arrow:hover {
  opacity: 1;
}
